<mat-card class="mx-auto mb-5 py-5 mat-elevation-z4">
    <h1 class="linear-wipe">Challenge Design</h1>
    <div class="container">
      <div class="row wow  animated bounceInLeft">
        <div class="col-md-6 offset-md-1">
            <p class="text-justify">
              Dans une industrie comme l'automobile, le design joue aujourd'hui un rôle stratégique. C’est dans ce contexte que s’inscrit notre challenge, les participants sont amenés à créer un design 2D qui répond aux exigences du cahier des charges qui leurs sera délivrer le jour j .
              Ce challenge incitera les participants à apporter leur créativité et réaliser un design de voiture aussi bien unique qu'original. Comme vous pouvez le savoir, un vrai designer est une personne douée d'un talent artistique doublé d'une grande capacité à globaliser, synthétiser, projeter et conceptualiser.
               Il suffira donc de briser les limites de votre imagination et de laisser manifester vos talents !
              </p>
              <div class="d-flex justify-content-center mb-3">
                  <a [routerLink]="['/inscriptionDesign']" class="mr-3 " mat-raised-button color="primary">S'inscrire</a>
              </div>
        </div>
        <div class="col-md-5">
            <div class="d-flex justify-content-center">
                <img class="rounded mat-elevation-z3 img-fluid" src="/assets/design.jpg" alt="formula">
              </div>
        </div>
      </div>
    </div>
  </mat-card>
