<mat-card class="mx-auto mb-5 py-5 mat-elevation-z4">
    <h1 class="linear-wipe">Challenge CAO</h1>
    <div class="container">
      <div class="row wow  animated bounceInLeft">
        <div class="col-md-6 offset-md-1" >
            <p class="text-justify">
                Le challenge CAO  3D est dédié aux passionnés de l’automobile qui maitrisent les logiciels de la conception assistée par ordinateur(solidworks,autocad,…)
                Les participants seront menés  à concevoir  des produits et/ou des composants dans le respect des spécifications du cahier des charges proposé le jour de la compétition.
                Le challenge aura pour but de sélectionner le participant ayant les meilleurs compétences pour  élaborer un modèle  mécanique (3D) valide  d’un prototype et proposer des solutions techniques innovantes .
              </p>
              <div class="d-flex justify-content-center mb-3">
                  <a [routerLink]="['/inscription', 'teamsCao']" class="mr-3 " mat-raised-button color="primary">S'inscrire</a>
              </div>
        </div>
        <div class="col-md-5">
            <div class="d-flex justify-content-center">
                <img class="rounded mat-elevation-z3 img-fluid" src="/assets/cao.jpg" alt="formula">
              </div>
        </div>
      </div>
    </div>
  </mat-card>
