<mat-card  class=" mx-auto mb-3 text-center">
  <h1>Formulaire d'inscription</h1>
  <p class="text-justify my-5">Dans un premier lieu, les candidats devront former des équipes
      constituées au maximum de quatre membres y compris le chef d’équipe.
      Ensuite, ils devront remplir ce formulaire.
      Les champs du formulaire devront être remplis très précisément. Certaines informations
      seront confidentielles, délivrées seulement au comité
      d’organisation.
      Enfin, chaque équipe devra s'acquitter des frais liés à son
      inscription au présent concours. Ces frais sont fixés à 35DT et
      devront être virés au compte postal du club ou livré
      directement au trésorier du club (un email sera communiqué aux participants contenant tous les détails).
      <br>
      <br>
      NB : Chaque équipe doit démontrer sa preuve de paiement le jour
      du concours.</p>
<form [formGroup]="inscriptionForm"  class="d-flex flex-column mx-auto">
  <!-- Team name -->
    <mat-form-field appearance="outline" color="accent">
        <mat-label>Nom de l'équipe</mat-label>
        <input matInput  formControlName="teamName">
        <span *ngIf="teamName.pending" class="has-text-info d-flex flex-column align-items-start w-100 m-0">
          <p>Vérification de la validité de <strong>{{ teamName.value }}</strong></p>
          <mat-progress-bar mode="indeterminate" class="w-25"></mat-progress-bar>
        </span>
        <mat-hint *ngIf="teamName.valid" style="color:green">{{teamName.value}} est valable</mat-hint>
        <mat-hint align="end">5 à 50 caractères alphanumérique</mat-hint>
        <mat-error *ngIf="teamName.invalid" class="has-text-danger">
          Le nom de l'équipe est invalide ou déjà pris
        </mat-error>
    </mat-form-field>
  <!-- Leader  -->
  <h3>Chef d'équipe*</h3>
  <div class="d-flex flex-column flex-md-row justify-content-between" formGroupName="leader">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Nom et Prénom</mat-label>
      <input matInput  formControlName="name" >
      <mat-error *ngIf="memberName('leader').invalid" class="has-text-danger">
        Nom invalide
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Adresse mail</mat-label>
      <input matInput type="email" formControlName="email">
      <mat-error *ngIf="memberEmail('leader').invalid" class="has-text-danger">
        Email invalide
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Numéro de téléphone</mat-label>
      <input matInput  formControlName="phone">
      <mat-error *ngIf="memberPhone('leader').invalid" class="has-text-danger">
        Numéro de téléphone invalide
      </mat-error>
    </mat-form-field>
  </div>

   <!-- second member -->
   <h3>Deuxième membre</h3>
   <div class="d-flex flex-column flex-md-row justify-content-between" formGroupName="secondMember">
     <mat-form-field appearance="outline" color="accent">
       <mat-label>Nom et Prénom</mat-label>
       <input matInput  formControlName="name" >
       <mat-error *ngIf="memberName('secondMember').invalid" class="has-text-danger">
         Nom invalide
       </mat-error>
     </mat-form-field>
     <mat-form-field appearance="outline" color="accent">
       <mat-label>Adresse mail</mat-label>
       <input matInput type="email" formControlName="email">
       <mat-error *ngIf="memberEmail('secondMember').invalid" class="has-text-danger">
         Email invalide
       </mat-error>
     </mat-form-field>
     <mat-form-field appearance="outline" color="accent">
       <mat-label>Numéro de téléphone</mat-label>
       <input matInput  formControlName="phone">
       <mat-error *ngIf="memberPhone('secondMember').invalid" class="has-text-danger">
        Numéro de téléphone invalide
       </mat-error>
     </mat-form-field>
   </div>
   <!-- third member -->
   <h3>Troisième membre</h3>
   <div class="d-flex flex-column flex-md-row justify-content-between" formGroupName="thirdMember">
     <mat-form-field appearance="outline" color="accent">
       <mat-label>Nom et Prénom</mat-label>
       <input matInput  formControlName="name" >
       <mat-error *ngIf="memberName('thirdMember').invalid" class="has-text-danger">
         Nom invalide
       </mat-error>
     </mat-form-field>
     <mat-form-field appearance="outline" color="accent">
       <mat-label>Adresse mail</mat-label>
       <input matInput type="email" formControlName="email">
       <mat-error *ngIf="memberEmail('thirdMember').invalid" class="has-text-danger">
         Email invalide
       </mat-error>
     </mat-form-field>
     <mat-form-field appearance="outline" color="accent">
       <mat-label>Numéro de téléphone</mat-label>
       <input matInput  formControlName="phone">
       <mat-error *ngIf="memberPhone('thirdMember').invalid" class="has-text-danger">
        Numéro de téléphone invalide
       </mat-error>
     </mat-form-field>
   </div>
   <!-- fourth member -->
   <h3>Quatrième membre</h3>
   <div class="d-flex flex-column flex-md-row justify-content-between" formGroupName="fourthMember">
     <mat-form-field appearance="outline" color="accent">
       <mat-label>Nom et Prénom</mat-label>
       <input matInput  formControlName="name" >
       <mat-error *ngIf="memberName('fourthMember').invalid" class="has-text-danger">
         Nom invalide
       </mat-error>
     </mat-form-field>
     <mat-form-field appearance="outline" color="accent">
       <mat-label>Adresse mail</mat-label>
       <input matInput type="email" formControlName="email">
       <mat-error *ngIf="memberEmail('fourthMember').invalid" class="has-text-danger">
         Email invalide
       </mat-error>
     </mat-form-field>
     <mat-form-field appearance="outline" color="accent">
       <mat-label>Numéro de téléphone</mat-label>
       <input matInput  formControlName="phone">
       <mat-error *ngIf="memberPhone('fourthMember').invalid" class="has-text-danger">
        Numéro de téléphone invalide
       </mat-error>
     </mat-form-field>
   </div>
       <!-- Establishment -->
    <mat-form-field appearance="outline" color="accent">
          <mat-label>Etablissement</mat-label>
          <input matInput  formControlName="establishment">
          <mat-hint align="end">2 à 50 caractères alphabétique</mat-hint>
          <mat-error *ngIf="establishment?.invalid" class="has-text-danger">
            Cet établissement est invalide
          </mat-error>
      </mat-form-field>
  <!-- Submit Button -->
    <div class="d-flex flex-row justify-content-end">
        <button mat-raised-button color="primary" type="button" [disabled]="!validate() || disable" (click)="clicked = true; disable = true; submitHandler()">Valider</button>
    </div>
</form>
</mat-card>
