.text-justify {
  text-align: justify !important;
}
.line{
  border-top:0.1rem solid red;
  width: 15rem;
}
.fast{
  background: url("/assets/FF/fast&furious.jpg")  no-repeat center top fixed;
  width: 100%;
  min-height:30rem;
  background-size: cover;
}
.autodayvod{
  max-width: 50rem;
}
@media (max-width: 768px){
  .carousel-item img{
    height: 15rem !important;
  }
  .linear-wipe{
    font-size: 3.5rem !important;
  }
}
.fast-desc{
  color:  white;
  font-size: 2em;
  background: rgba(0,0,0,0.4);
}
#home{
overflow: hidden;
}
.linear-wipe{
  font-size: 5rem;
}
.carousel-item img{
  max-height: 28rem;
}
.img-overlay {
  position: absolute;
  top: 53%;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.img-overlay:before {
  content: ' ';
  display: block;
  /* adjust 'height' to position overlay content vertically */
  height: 50%;
}
.countdown-item {
  font-size: 3em;
  font-family: Orbitron;
  text-align: center;
  width: 100px;
  height: 100px;
  line-height: 100px;
  opacity: 1;
  background: rgba(0,0,0,0.4);
  color: white;
}
.date{
  font-size: 12px;;
  font-family: Orbitron;
  color: white;
}
