<mat-card class="mx-auto mb-5 py-5 mat-elevation-z4">
  <h1 class="linear-wipe">Compétition de Rallye</h1>
  <div class="container">
    <div class="row wow animated bounceInLeft">
      <div class="col-md-6 offset-md-1">
        <p class="text-justify">
          Dès qu' on dit rallye, une course furtive nous hante l'esprit.
          De la poussière plein les poumons et de l'adrénaline en illimité!
          Et si ce sport formidable s'associe à la robotique? ? On vous tient la promesse d'un show formidable sur les
          aires de Fast and Furious:
          si vous êtes passionnés de Rallye c'est l'opportunité ou jamais! Les participants à cette discipline vont
          s' affronter deux à deux et naviguer sur divers terrains, en faisant gaffe aux dangers qui les guettent en
          cours de route.
          Notez bien que le temps est assez précieux et n'oubliez pas que la robustesse de votre voiture, la puissance
          de ses moteurs et
          sa grande vitesse sont les clés de votre victoire!
          <br>
          Buona Fortuna!!
        </p>
        <div class="d-flex justify-content-center mb-3">
            <a disabled
            matTooltip="La période d'inscription est terminée"
            class="mr-3" mat-raised-button color="primary">S'inscrire</a>
            <a href="/assets/CDC-RALLYE.pdf" mat-raised-button color="primary">Cahier des charges<fa-icon class="ml-3" [icon]="['fas', 'download']"></fa-icon></a>
          </div>
      </div>
      <div class="col-md-5">
        <div class="d-flex justify-content-center">
            <img class="rounded mat-elevation-z3 img-fluid" src="/assets/rallye.jpg" alt="formula">
        </div>
      </div>
    </div>
  </div>
</mat-card>
