.carousel-item{
  max-height: 25rem;
}
img{
  max-height: 25rem;
}
mat-card{
  max-width: 70rem;
  margin-top: 110px;
}
.title{
  font-size: 5rem;
}
@media (max-width:355px){
  .title{
    font-size: 3rem;
  }
}
.linear-wipe{
  font-family: Lobster;
}
mat-list-item:hover .arrow {
  animation: slide 1s ease-in-out infinite;
  margin-left: 9px;
}

@keyframes slide {
  0%,100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}
