<mat-card class="mx-auto mb-5 py-5 mat-elevation-z4">
  <h1 class="linear-wipe">Compétition de Formula</h1>
  <div class="container">
    <div class="row wow  animated bounceInLeft">
      <div class="col-md-6 offset-md-1">
          <p class="text-justify">
              L'évènement "Fast and Furious " qui aura lieu à l'institut national de sciences appliquées et technologie le 23 février 2019 ,
               comporte 3 axes; parmi ces axes, on a l'axe "Challenge Formula " ; Ce challenge est inspiré de la reine de sport automobile "Formula 1 "
               qui a pris au fil des ans une dimension mondiale , l'un des événements sportifs les plus médiatisés ,
               régie par la Fédération internationale de l'automobile (FIA) Cette compétition sera une course de robots autonomes "Suiveur de ligne "
               qui devront suivre une ligne noire sur un fond blanc. On aura deux chemins qui sont inspirés de deux circuits de "Formula 1 " ;
               Le premier est celui de l'Allemagne "Nürburgring" un circuit automobile situé à Nürburg , l'un des plus grandes centres de sports mécaniques au monde .
               L'autre est " le circuit international de Shanghai " un circuit permanent de sports mécaniques
            </p>
            <div class="d-flex justify-content-center mb-3">
                <a disabled class="mr-3 " mat-raised-button color="primary"
                matTooltip="La période d'inscription est terminée"
                >S'inscrire</a>
                <a href="/assets/CDC-formula.pdf" mat-raised-button color="primary">Cahier des charges<fa-icon class="ml-3" [icon]="['fas', 'download']"></fa-icon></a>
            </div>
      </div>
      <div class="col-md-5">
          <div class="d-flex justify-content-center">
              <img class="rounded mat-elevation-z3 img-fluid" src="/assets/formula.jpg" alt="formula">
            </div>
      </div>
    </div>
  </div>
</mat-card>
