<footer class="footer pt-3">
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="d-flex flex-column text-center">
          <h3>AUTOCLUB<span>INSAT</span></h3>
          <ul id="mail-address" class="list-inline">
              <li ><a target="_blank" href="https://goo.gl/3xzGqJ"><fa-icon class="mr-1" [icon]="['fas', 'map-marker-alt']"></fa-icon>676 INSAT Centre Urbain Nord BP,Tunis Cedex 1080</a></li>
              <li ><a href="mailto:autoclub@gamil.com"><fa-icon class="mr-1" [icon]="['fas', 'at']"></fa-icon>contact@autoclub-insat.com</a></li>
          </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="text-center">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a target="_blank" href="https://www.facebook.com/insatautoclub/?ref=br_rs" class="facebook" mat-mini-fab><fa-icon  [icon]="['fab', 'facebook-f']"></fa-icon></a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" href="https://www.instagram.com/autoclub_insat/" class="instagram" mat-mini-fab><fa-icon size="lg" [icon]="['fab', 'instagram']"></fa-icon></a>
          </li>
          <li class="list-inline-item">
              <a target="_blank" href="https://goo.gl/vHCNbX" class="youtube" mat-mini-fab><fa-icon size="lg" [icon]="['fab', 'youtube']"></fa-icon></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
<div class="copyright text-center py-2">&copy; 2018 copyright :
    <a [routerLink]="['/']"  > autoclub-insat.com</a>
  </div>
</footer>
